<span class="left bl W100 b_purple white bord_white P2">CREATION.</span>

<form method="post" action="/create">
  <input type="text" name="username" placeholder="username">  
  <input type="text" name="password" placeholder="password">  
  <input type="text" name="secret" placeholder="secret">
  <input type="submit" value="Create">
</form>