

<span class="W100 left bl">
  <% for(var i=0; i<thoughts.length; i++) { %>
    <span class="bl b_purple square bord_white white left <% if(thoughts[i].mine) {  %>red<% } %>" id="<%= thoughts[i].id %>">
      <%= thoughts[i].body %>
      <span class="rating"><%= thoughts[i].rating %></span>
  
      <span class="W100 left bl">    
        <% if(!thoughts[i].mine) {  %>
          <button class="plus">+</button>
          <button class="minus">-</button>
          <button class="request">?</button>
        <% } %>

        <% if(thoughts[i].friend) {  %>
          <%= thoughts[i].friend.name %> is yo friend
        <% } %>

      </span>

    </span>

    <span style="min-height: 0.4em; float: left;"></span>
  <% } %>
</span>