<!DOCTYPE html>
<html>
  <head>
    <title>New Sails App</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <!--
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.

        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/stylo.css">
    <!--STYLES END-->
  </head>

  <body class="b_dpurple">
    <span class="W100 left bl H3">
      <span class="W16 left bl">

        <form id="new-thought" action="/say" method="post">
          <input type="text" name="bo" id="creation">
          <input type="submit" value="Create">
        </form>
      </span>


      <span class="W16 b_black left bl">
        <a class="white W100 bord_white H3 bl" href="/">Home</a>
      </span>

      <span class="W16 b_black left bl">
        <a class="white W100 bord_white H3 bl" href="/requests">Requests</a>
      </span>

      <span class="W16 b_black left bl">
        <a class="white W100 bord_white H3 bl" href="/harmonies">Harmonies</a>
      </span>

      <span class="W16 b_black left bl">
        <a class="white W100 bord_white H3 bl" href="/invites">Invites</a>
      </span>

      <span class="W16 b_black left bl">
        <a class="white W100 bord_white H3 bl" href="/logout">Logout</a>
      </span>
    </span>

    <%- body %>



    <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).

        To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->


    <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, files in your `assets/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.

      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:

          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/jquery-2.2.0.min.js"></script>
    <script src="/js/pages/homepage.js"></script>
    <script src="/js/pages/invites.js"></script>
    <script src="/js/pages/requests.js"></script>
    <!--SCRIPTS END-->

    <script type="text/javascript">
      $(document).ready(function(){
        $('#creation').focus();
      });
    </script>
  </body>
</html>
