body {
  font-family: 'Lato', sans-serif;
}

.square {
  margin: -1px;
  max-width: 20%;
  min-width: 20%;
  width: 20%;
  height: 3em;
}

.bl {
  display: block;
}

.left {
  float: left;
}

.W20 {
  min-width: 20%;
  width: 20%;
  max-width: 20%;
}

.W50 {
  min-width: 50%;
  width: 50%;
  max-width: 50%;
}

.W100 {
  min-width: 100%;
  width: 100%;
  max-width: 100%;
}

.b_purple {
  background-color: #7811BB;
}

.b_black {
  background-color: #000000;
}

.b_red {
  color: #DD0022;
}

.b_green {
  color: #11CC00;
}

.white {
  color: #FFFFFF;
}

.red {
  color: #FF0000;
}
.bord_white {
  border: 1px solid #FFFFFF;
}